

<!-- <html>

<head>
	<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style>
		.i-am-centered {
			margin: auto;
			max-width: 300px;
			padding-top: 20%;
		}
	</style>
</head>

<body>
	<div class="i-am-centered">
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>First Name </label>
				{{ form.first_name }}
			</div>
			<div class="form-group">
				<label>Last Name </label>
				{{ form.last_name }}
			</div>
			<div class="form-group">
				<label>Roll Number</label>
				{{ form.roll_number }}
			</div>
			<div class="form-group">
				<label>Password</label>
				{{ form.password }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>

</html> -->







<form action = "" method = "post">
{{ form.management_data }}	
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='submit'/>
</form> 

<!---
<form action = "" method = "get">
	<label for="your_name">Your name: </label>
	<input id="your_name" type="text" name="your_name">
	<input type="submit" value="OK">
</form>
-->

<!---
<form action = "" method = "post">
	{% csrf_token %}
	<label for="your_name">Your name: </label>
	<input id="your_name" type="text" name="your_name">
	<input type="submit" value="OK">
</form>
-->
